<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Globature
    </title>

    {{!-- font-awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    {{! bootstrap cdns }}
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <!-- jQuery library -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"
    ></script>
    <!-- Popper JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    ></script>
    <!-- Latest compiled JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    ></script>

    {{! fab-icon }}
    <link rel="icon" type="image/ico" href="/media/favicon.ico" />

    {{! local-css }}
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    {{>header}}
    <section>
        <div class="container-fluid page_content">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto my-5">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-12 py-3">
                            <p class="info m-0">Welcome to the Globature Official.
                            </p>
                            <h1 class="title pb-3">Get the latest Wheather Info Of your City.</h1>
                            <button class="btn btn-dark">Check here</button>
                        </div>
                        <div class="col-md-6 col-12 py-3">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2000".>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="media/ban1.jpg" class="w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="media/ban2.jpg" class="w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="media/ban3.jpg" class="w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
  </body>
</html>