 <footer>
        <div class="container-fluid page_footer">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto text-center">
                    <p class="footer_info p-2 m-0">For More info Download Globature App</p>
                </div>
            </div>
        </div>
    </footer>